architecture: replication

global:
  postgresql:
    auth:
      existingSecret: postgresql
      database: postgres

metrics:
  enabled: true
  pgStatStatements: true

primary:
  lifecycleHooks:
    postStart:
      exec:
        command:
          - /bin/sh
          - -c
          - |
            find /bitnami/postgresql/logs -name "postgresql-*.log" -mtime +4 -delete || true

  extendedConfiguration: |
    max_connections = 3001
    shared_preload_libraries = 'pg_stat_statements'
    pg_stat_statements.track = all
    log_destination = 'stderr'
    logging_collector = on
    log_directory = '/bitnami/postgresql/logs'
    log_filename = 'postgresql-%Y-%m-%d.log'
    log_rotation_age = '1d'
    log_rotation_size = 0
    log_truncate_on_rotation = on
    log_file_mode = 0600
    log_connections = off
    log_disconnections = off
    log_min_duration_statement = 1000
    log_statement = 'all'

  persistence:
    size: 2Gi
  resourcesPreset: medium

readReplicas:
  replicaCount: 2

  lifecycleHooks:
    postStart:
      exec:
        command:
          - /bin/sh
          - -c
          - |
            find /bitnami/postgresql/logs -name "postgresql-*.log" -mtime +3 -delete || true

  extendedConfiguration: |
    max_connections = 3001
    shared_preload_libraries = 'pg_stat_statements'
    pg_stat_statements.track = all
    log_destination = 'stderr'
    logging_collector = on
    log_directory = '/bitnami/postgresql/logs'
    log_filename = 'postgresql-%Y-%m-%d.log'
    log_rotation_age = '1d'
    log_rotation_size = 0
    log_truncate_on_rotation = on
    log_file_mode = 0600
    log_disconnections = off
    log_min_duration_statement = 1000
    log_statement = 'all'

  persistence:
    size: 2Gi
  resourcesPreset: medium

replication:
  enabled: true
  numSynchronousReplicas: 1
  synchronousCommit: "on"
