architecture: replication

# --------------------------
# Global Auth
# --------------------------
global:
  postgresql:
    auth:
      existingSecret: postgresql
      database: postgres

# --------------------------
# Image Overrides (bitnamilegacy)
# --------------------------
image:
  
  repository: bitnamilegacy/postgresql
  tag: 16.3.0-debian-12-r19   # <-- Valid legacy tag
  pullPolicy: IfNotPresent

volumePermissions:
  enabled: true
  image:
    registry: docker.io
    repository: bitnamilegacy/os-shell
    tag: 11-debian-11-r80

metrics:
  enabled: true
  pgStatStatements: true
  image:
    registry: docker.io
    repository: bitnamilegacy/postgres-exporter
    tag: 0.10.1-debian-11-r72

# --------------------------
# Primary Database
# --------------------------
primary:
  extraEnvVars:
    - name: BITNAMI_DEBUG
      value: "false"

  extendedConfiguration: |
    # connection settings
    max_connections = 3001
    shared_preload_libraries = 'pg_stat_statements'
    pg_stat_statements.track = all

    # logging
    log_destination = 'stderr'
    logging_collector = on
    log_directory = '/bitnami/postgresql/logs'

    # log rotation
    log_filename = 'postgresql-%a.log'
    log_rotation_age = '1d'
    log_rotation_size = 0
    log_truncate_on_rotation = on
    log_file_mode = 0600

    # slow queries
    log_min_duration_statement = 1000
    log_statement = 'none'

  persistence:
    size: 2Gi

# --------------------------
# Read Replicas
# --------------------------
readReplicas:
  replicaCount: 2

  extendedConfiguration: |
    max_connections = 3001
    shared_preload_libraries = 'pg_stat_statements'
    pg_stat_statements.track = all

    log_destination = 'stderr'
    logging_collector = on
    log_directory = '/bitnami/postgresql/logs'

    log_filename = 'postgresql-%a.log'
    log_rotation_age = '1d'
    log_rotation_size = 0
    log_truncate_on_rotation = on
    log_file_mode = 0600

    log_min_duration_statement = 1000
    log_statement = 'none'

  persistence:
    size: 2Gi

# --------------------------
# Replication
# --------------------------
replication:
  enabled: true
  numSynchronousReplicas: 1
  synchronousCommit: "on"
