architecture: replication

global:
  postgresql:
    auth:
      existingSecret: postgresql
      database: postgres

metrics:
  enabled: true
  pgStatStatements: true

primary:
  extendedConfiguration: |
    # Connection settings
    max_connections = 3001
    shared_preload_libraries = 'pg_stat_statements'
    pg_stat_statements.track = all

    # Logging configuration
    log_destination = 'stderr'
    logging_collector = on
    log_directory = '/bitnami/postgresql/logs'
    log_filename = 'postgresql-%Y-%m-%d.log'
    log_rotation_age = '1d'               # rotate daily
    log_rotation_size = 0                 # ignore size
    log_truncate_on_rotation = on         # overwrite logs daily
    log_file_mode = 0600

    # Log level and slow query tracking
    log_min_duration_statement = 1000     # 1s threshold
    log_statement = 'none'


  persistence:
    size: 2Gi
  resourcesPreset: medium

readReplicas:
  replicaCount: 2

  extendedConfiguration: |
    # Connection settings
    max_connections = 3001
    shared_preload_libraries = 'pg_stat_statements'
    pg_stat_statements.track = all

    # Logging configuration
    log_destination = 'stderr'
    logging_collector = on
    log_directory = '/bitnami/postgresql/logs'
    log_filename = 'postgresql-%Y-%m-%d.log'
    log_rotation_age = '1d'
    log_rotation_size = 0
    log_truncate_on_rotation = on
    log_file_mode = 0600

    # Log level and slow query tracking
    log_min_duration_statement = 1000
    log_statement = 'none'

  
  persistence:
    size: 2Gi
  resourcesPreset: medium

replication:
  enabled: true
  numSynchronousReplicas: 1
  synchronousCommit: "on"
