architecture: replication

# Override image registry / repo / tag
image:
  registry: docker.io
  repository: bitnamilegacy/postgresql
  tag: 16.3.0-debian-12-r19
  pullPolicy: IfNotPresent


metrics:
  enabled: true
  pgStatStatements: true
  image:
    registry: docker.io
    repository: bitnamilegacy/postgres-exporter

global:
  postgresql:
    auth:
      existingSecret: postgresql
      database: postgres

primary:
  extendedConfiguration: |
    max_connections = 3001
    shared_preload_libraries = 'pg_stat_statements'
    pg_stat_statements.track = all

    log_destination = 'stderr'
    logging_collector = on
    log_directory = '/bitnami/postgresql/logs'

    log_filename = 'postgresql-%Y-%m-%d.log'
    log_rotation_age = '1d'
    log_rotation_size = 0
    log_truncate_on_rotation = on
    log_file_mode = 0600

    log_min_duration_statement = 1000
    log_statement = 'none'

  persistence:
    size: 2Gi
  resourcesPreset: medium

readReplicas:
  replicaCount: 2

  extendedConfiguration: |
    max_connections = 3001
    shared_preload_libraries = 'pg_stat_statements'
    pg_stat_statements.track = all

    log_destination = 'stderr'
    logging_collector = on
    log_directory = '/bitnami/postgresql/logs'

    log_filename = 'postgresql-%Y-%m-%d.log'
    log_rotation_age = '1d'
    log_rotation_size = 0
    log_truncate_on_rotation = on
    log_file_mode = 0600

    log_min_duration_statement = 1000
    log_statement = 'none'

  persistence:
    size: 2Gi
  resourcesPreset: medium

replication:
  enabled: true
  numSynchronousReplicas: 1
  synchronousCommit: "on"
