architecture: replication

global:
  postgresql:
    auth:
      existingSecret: postgresql
      database: postgres

metrics:
  enabled: true
  pgStatStatements: true

primary:
  extendedConfiguration: |
    max_connections = 3001
    shared_preload_libraries = 'pg_stat_statements'
    pg_stat_statements.track = all

    # Logging configuration
    log_destination = 'stderr'
    logging_collector = on
    log_directory = '/bitnami/postgresql/logs'
    log_filename = 'postgresql-%Y-%m-%d.log'
    log_rotation_age = '1d'
    log_rotation_size = 0
    log_truncate_on_rotation = on
    log_file_mode = 0600

    # Slow query threshold
    log_min_duration_statement = 1000
    log_statement = 'none'

  lifecycleHooks:
    postStart:
      exec:
        command:
          - /bin/sh
          - -c
          - |
            (
              # Background loop: clean logs older than 3 days every 24 hours
              while true; do
                find /bitnami/postgresql/logs -type f -name "postgresql-*.log" -mtime +3 -delete || true
                sleep 86400
              done
            ) &

  persistence:
    size: 2Gi
  resourcesPreset: medium

readReplicas:
  replicaCount: 2

  extendedConfiguration: |
    max_connections = 3001
    shared_preload_libraries = 'pg_stat_statements'
    pg_stat_statements.track = all

    log_destination = 'stderr'
    logging_collector = on
    log_directory = '/bitnami/postgresql/logs'
    log_filename = 'postgresql-%Y-%m-%d.log'
    log_rotation_age = '1d'
    log_rotation_size = 0
    log_truncate_on_rotation = on
    log_file_mode = 0600

    log_min_duration_statement = 1000
    log_statement = 'none'

  lifecycleHooks:
    postStart:
      exec:
        command:
          - /bin/sh
          - -c
          - |
            (
              while true; do
                find /bitnami/postgresql/logs -type f -name "postgresql-*.log" -mtime +3 -delete || true
                sleep 86400
              done
            ) &

  persistence:
    size: 2Gi
  resourcesPreset: medium

replication:
  enabled: true
  numSynchronousReplicas: 1
  synchronousCommit: "on"
